* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
    }


.store{
    display: flex;
    flex-wrap: wrap;
    background-color: #5454542c;
     
    justify-content:space-around; /* achei melhor que o around e o evenly. Deu um pouco de espaço entre os instrumentos, mas não afastou demais.*/
   
} /* aqui engloba todos os cards. Aí tem que ser aqui pra fazer ficar uma do lado da outra.*/ 


/* aqui abaixo é sobre a página Cart */

.cart{
    background-color: #5454542c;
    height: 700px;
} /* tive que botar N° alto no height pra que essa cor pegasse tudo. 100% não dava certo, aí ficava uma parte meio cinza e o fundo branco.*/

.link{
    text-decoration: none;
}

.totalPrice{
    font-size: 40px;
    display: flex;
    justify-content: center;
    margin-right: 50px;
}

.purchaseButton{
    border-radius: 20px;
    background-color: rgb(0, 102, 255);
    width: 350px;
    height: 40px;
    font-size: 18px;
    margin-top: 130px;
} /* só deu pra separar do navbar usando o margin top aqui e no button de baixo. Fazendo dentro do twoButtons não resolvia, porque fazia a navbar abaixar também.*/

.buyMoreButton{
    border-radius: 20px;
    background-color: rgb(0, 102, 255);
    margin-top: 130px;
    width: 350px;
    height: 40px;
    font-size: 18px;
} 

.twoButtons{
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
}

.wrapper{ 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 65px;
}

/* aqui abaixo é sobre a página de Conclusion */



.conclusion{
    font-size: 50px;
    display: flex;
    justify-content: center;
    margin-top: 150px;
}

/* aqui abaixo é sobre a página Home */

.coverImage{
    width: 100%;
    height: 747px;
    margin-bottom: 0px;
}